footer {
  background-color: white;
  width: 100%;
  height: 60px;
  border-top: solid 1px #cccccc;
  position: fixed;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
