header {
  background-color: white;
  width: 100%;
  height: 70px;
  border-bottom: solid 1px #cccccc;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
header div {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
