.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: solid 1px #dddddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  margin-left: 770px;
}
.filters button:hover {
  opacity: 90%;
}
