.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: solid 1px #dddddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative;
}
.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  position: absolute;
  right: 0;
  margin-right: 30px;
}
.filters button:hover {
  opacity: 90%;
}

.locations,
.amenities {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.locations {
  border-right: solid 1px #dddddd;
}
h3 {
  margin: 0;
  margin-left: 40px;
  font-weight: 600;
}
h4 {
  margin: 0;
  margin-left: 40px;
  font-weight: 400;
  font-size: 14px;
}
.popover,
.popover ul {
  list-style: none;
}
.popover {
  display: none;
  list-style: none;
  background-color: #fafafa;
  width: 100%;
  border: solid 1px #dddddd;
  border-radius: 4px;
  position: absolute;
  padding: 0;
  top: 0;
  margin-top: 70px;
  z-index: 1;
}
.popover li {
  padding: 4px 8px;
}
.popover li ul li {
  padding-top: 0;
}
h2 {
  font-size: 16px;
}
.locations:hover .popover,
.amenities:hover .popover {
  display: block;
}
