.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.places h1 {
  font-size: 30px;
  width: 100%;
  margin-left: 15px;
}
.places article {
  width: 390px;
  padding: 0 20px;
  margin: 20px;
  border: solid 1px #ff5a5f;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}
h2 {
  font-size: 30px;
}
